*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
        background-color:gray;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2{
    background-color:#B0C4DE;
    border-bottom: 2px #191970 solid;
    padding: 3px;
    text-align:center;
    width:100%;

}
h1{
    font-size: 30px;
    text-align: center;

}

.Capacitaciones{
    background-color:#E6E6FA;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.Datos{
    background-color:#E6E6FA;
    border-radius: 3px;
    margin: auto;
    padding: 25px 15px;
    width: 900px;
}

.Estudios_r{
    background-color:#E6E6FA;
    font-size: 18px;
    padding: 15px 18px;
}

.experiencia_l{
    background-color:#E6E6FA;
    font-size: 18px;
    padding: 15px 18px;
}

.imagen{
    padding: 7px;
    text-align: center;
}

.imagen img{
    border: 2px #000 solid;
    border-radius: 3px;
}

.Personales{
    background-color:#E6E6FA;
    font-size: 18px;
    padding: 15px;
}


.Perfil_p{
    background-color:#E6E6FA;
    font-size: 18px;
    padding: 15px;
    text-align: left;
}

.Referencias{
    background: color #e6e6fa;;
    display: grid;
    font-size: 18px;
    height: 300px;
    grid-template-columns: 33% 33% 33%;
    padding: 15px;
    text-align: center;
}

.refe1{
    background-color:#AFEEEE;
    font-size: 15px;
    padding: 10px 18px;
    text-align: left;
}

.refe2{
    background-color:#87CEFA;
    font-size: 15px;
    padding: 10px 18px;
    text-align: left;
}

.refe3{
    background-color:#7FFFD4;
    font-size: 15px;
    padding: 10px 18px;
    text-align: left;
}

